@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Tourney:wght@900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'B612 Mono', cursive;
    font-size: 16px;
}

h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Tourney', cursive;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;  
    bottom: -18px;
    text-shadow: 4px 4px fuchsia;
    z-index: 1;
    @media only screen and (max-width: 1020px) {
        font-size: 40px;
    }
}

li {
    list-style: none;
    a {  
        display: inline-block;
        padding: 3px 5px;
        width: auto;
        line-height: 24px;
        color: #fff;
    }       
}

a {  
    text-transform: capitalize;
    text-decoration: none;
}

p a {
    color: fuchsia;
    border-bottom: 2px fuchsia solid;
}

figure {
    position: relative;
    margin: 0 auto 40px;
    width: auto;
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        bottom: -15px;
        right: -15px;
        border-bottom: 2px solid fuchsia;
        border-right: 2px solid fuchsia; 
      }
    img {
        width: 100%;
    }
}
    
figcaption {  
    padding: 3px 5px;
    background-color: fuchsia;
    font-size: 11px;
    color: #fff;    
    text-transform: uppercase;
}