.content {
    padding: 45px 15px 15px;
    max-width: 700px;
    width: 100%;
    @media only screen and (max-width: 1020px) {
        padding: 45px 0 0;
        max-width: none;
    }
    h2 {
        margin: 0 0 30px;
        top: 0;
        text-shadow: 4px 4px black;
    }

    .cmsText {
        margin: 0 0 30px;
        h2 {
            display: inline-block;
            margin: 0 5px 5px 0px;
        }
    }
}

.content p {
    max-width: 65%;
    @media only screen and (max-width: 1020px) {
        max-width: 85%;
    }
}

.skills {
    margin: 0 0 30px;
    h3 {
        text-align: right;
        border-bottom: 2px solid fuchsia;
    }

    .skillIcons{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media only screen and (max-width: 575px) {
            justify-content: center;
        }
    }

    figure {
        margin: 0;
        max-width: 70px;
        &::after {
            width: 10px;
            height: 10px;
            bottom: -5px;
            right: -5px;
            border-width: 1px;
        }
    }
}