.wrap {
    display: flex;
    padding: 0 30px;
    justify-content: center;
    @media only screen and (max-width: 1020px) {
        padding: 0 15px;
    }
    &.top {
        position: relative;
        background-color: aqua;
        @media only screen and (max-width: 1020px) {
            margin: 0 0 50px;
        }
        @media only screen and (max-width: 575px) {
            margin: 0 0 100px;
        }
    }
    &.top::after {
        position: absolute;
        display: flex;
        content: "";
        bottom: -500px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 500px solid aqua;
        border-right: 65vw solid transparent;
    }
    &.mid {
        min-height: calc(100vh - 120px);
    }
    &.end {
        background-color: aqua;
        .innerwrap {
            justify-content: space-between; 
        }
    }    
}

.innerwrap {
    position: relative;
    display: flex;
    align-items: flex-start;
    max-width: 1200px;  
    width: 100%;
    justify-content: space-between; 
}

.siteTitle {
    top: 15px;
    font-size: 45px;
    text-shadow: 4px 4px #000;
    @media only screen and (max-width: 1020px) {
        margin: 0 0 0 85px;
    }
    @media only screen and (max-width: 575px) {
        margin: 0;
        top: 17px;
    }
    span {
        position: absolute;
        top: 0px;
        left: -2px;
        font-size: 196px;
        -webkit-text-stroke: 1px aqua;
        z-index: -1;
        @media only screen and (max-width: 1020px) {
            position: relative;
            left: 0;
            font-size: 45px;
            -webkit-text-stroke: 0;
            color: white;
            text-shadow: 4px 4px #000;
        }
    }
}