.workHeader {
    display: inline-block;   
    padding: 3px 5px;         
    font-family: 'B612 Mono';
    font-size: 19px;    
    font-weight: normal;
    color: white;
    text-transform: none;
    text-shadow: none;
    background: black;
    bottom: 0;    
}

.workHeader span {
    color: magenta;
}

.description {
    margin: 0 auto 20px;
}

.codeBaseList {
    display: flex;
    margin: 0 auto 30px;
    flex-direction: row;
    span {
        min-width: 110px;
    }
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        gap: 5px;
        li {
            padding: 3px 5px;
            border: 1px solid aqua;
            border-radius: 4px;
        }
    }
}