.workHeader {
    display: inline-block;   
    padding: 3px 5px;         
    font-family: 'B612 Mono';
    font-size: 19px;    
    font-weight: normal;
    color: white;
    text-transform: none;
    text-shadow: none;
    background: black;
    bottom: 0;    
}

.workHeader span {
    color: magenta;
}